/* 
    syntax of using CSS rules::after:
    selector{
        property: value;
    }

*/

/* targets all the elements in our webpage. */

*{
    /* font-family property changes the style of the font */
    font-family: 'Courier New', Courier, monospace;
    /* font-size changes the size of the text */
    font-size: 20px;

}

/* type selector */
/* tag-name */

h1{
    color: rgb(235, 235, 11);
}

#zuitt-motto{
/* letter-spacing property changes the spaces between the characters in a text. */
    letter-spacing: 5px;
}

.offering-item{
    /* text-transform property changes the font to a certain case */
    text-transform: uppercase;
}

/* attribute selector */
/* [attribute] */
[required]{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}

h3{
    /* letter-spacing: 25px; !important */
}

/* ajacent sibling selector */
/* element-for-reference + target+element */

h3 + img{
    height: 200px;
    width: 200px;
    border-radius: 150px;
}

#bootcampLearningList li{
    color: #0dbf5a;
    
}

h2 ~ a{
    text-decoration: none;
}

form > label{
    color:rgb(219, 69, 31)
}

body{
    background-color: bisque;
}

section{
    height: 100vh;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: azure;
}
a:hover{
    background-color: blueviolet;
}

#top, a{
    text-decoration: none;
}

div{
    display: inline;
    float: right;
    
}
ol{
    list-style-type: none;
}
form{
    text-align: center;
    background-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    height: 185px;
    width: 25vw;
    position: relative;
    left: 37.25%;
}

button{
    background-color: aliceblue;
    color: aquamarine;
    border: 0;
    border-radius: 15px;
}
