body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global styles */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Navigation */
nav {
  color: #0b0b0b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  position: sticky;
  
}

.logo img {
  height: 40px;
}

.nav-link ul {
  display: flex;
  gap: 30px;
  position: absolute;
  float: right;
 
}

.nav-link ul li {
  padding: 10px;
  cursor: pointer;
  align-items: end;

  
}

.tuitt-button {
  background-color: #c2195b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

/* Landing Page */
#bg-image {
  background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg" );
  background-size: cover;
  background-position: center;
    height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  
}
.front-bg {
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.container{
    position: absolute;
    right: 80px;
    margin: 50px;
    top: 0;
    width: 450px;
    text-align: right;
       
} 

.container .title .subtitle .tuitt-button{
  text-align: right;
    

}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;

}


/* Intro Section */
.intro {
  background-color: #f1f1f1;
  padding: 40px 20px;
}

.title-2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.intro-description {
  font-size: 16px;
  line-height: 1.5;
}

/* Pre-footer Section */
.pre-footer {
  background-color: #eeecec;
  padding: 40px 20px;
  text-align: center;
}

.prefooter-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.book-button {
  background-color: #c2195b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer span {
  margin: 0 5px;
}

.tuitt-button {
  border-radius: 50px;
}