*{
    font-family: Arial, Helvetica, sans-serif
}

#external {
    color: rgb(240, 236, 105);
}

h1{
    font-size: 70px;
}

#uppercase {
    text-transform: uppercase;
}

.language li {
    background-color: rgb(31, 148, 51);
    border: none;
}

li, [tools] {
    border: 1px solid;
}

div + h5 {
    color: blue;
    
}

.image, img{
    width: 150px;
}
footer {
    text-align: center;

}

.list li {
    border: none;
    text-decoration: none;
    list-style: none;
}

.list > ol > li {
    letter-spacing: 10px;
}